h2 {{quiz.title}}
single-article(article-image='{{qiuz.avatarUrl || mainCtrl.defaultQuizThumb}}')
   h4.sub-title(transclude-to='article-header')
      | Created by {{quiz.createdBy}} on
      span {{quiz.createdOn | date}}

   .quiz-details(transclude-to='article-content')
         .basic-info

            p
               label Category:
               span  {{quiz.category}}

            p
               label Rating:

               uib-rating.quiz-rating(
               ng-model="quiz.rating" max="10"
               ng-click="rateQuiz()"
               readonly="!userDetails.userId"
               state-on="'glyphicon-ok-sign'"
               state-off="'glyphicon-ok-circle'"
               aria-labelledby="default-rating")

            p
               label Question:
               span  {{quiz.questions.length}}

            p
               label Times Completed:
               span  {{quiz.timesSolved}}

         .description
           label Description:
           p.hide-overflow  {{quiz.description}}


// btn-lol abused...
div: button.btn.btn-primary.btn-round.col-md-offset-9(ng-click='checkOut(quiz)') Check It Out