form.form-horizontal(
name='registerForm', method='post'): fieldset
  legend
    span.fa.fa-sign-in
    | {{ctrl.formLegend}}
    block block-extension-top

    // Email
    .form-group
      label.col-lg-3.control-label(for='email') Email
      .col-lg-9
        input.form-control(
        type='email', required=required, value='pesho@pesho.bg',
        name='email', id='email', placeholder='Email'
        )

    // First Name
    .form-group
      label.col-lg-3.control-label(for='firstName') First Name
      .col-lg-9
        input.form-control(
        type='text', required=required, value='Peter',
        name='firstName', id='firstName', placeholder='First Name'
        )

    // Last Name
    .form-group
      label.col-lg-3.control-label(for='lastName') Last Name
      .col-lg-9
        input.form-control(
        type='text', required=required, value='Peshov',
        name='lastName', id='lastName', placeholder='Last Name'
        )

    // Profile Picture
    .form-group
      label.col-lg-3.control-label(for='avatar') Profile Picture
      .col-lg-9
        input.form-control(
        type='url',
        name='avatar', id='avatar', placeholder='Profile Picture Url'
        )

    // Password
    .form-group
      label.col-lg-3.control-label(for='password') Password
      .col-lg-9
        input.form-control(
        type='password', required=required,
        minlength='5',
        name='password', id='password', placeholder='Password'
        )

    // Confirm Password
    .form-group
      label.col-lg-3.control-label(for='confirmPassword') Confirm Password
      .col-lg-9
        input.form-control(
        type='password', required=required,
        minlength='5',
        name='confirmPassword', id='confirmPassword', placeholder='Confirm password'
        )

    block block-extension-bottom

      // Submit
    .form-group
      .col-lg-9.col-lg-offset-3.clearfix
        button.btn.btn-primary.pull-right Submit