form.form-horizontal(
name='registerForm', method='post'): fieldset
  legend
    span.fa.fa-sign-in
    |  {{ctrl.formLegend}}

  // Top Extension
  block block-extension-top

  // First Name
  .form-group.required
    label.col-lg-3.control-label(for='firstName') First Name
    .col-lg-9
      input.form-control(
      type='text', required=required, ng-model="user.firstName",
      name='firstName', id='firstName', placeholder='First Name'
      )

  // Last Name
  .form-group.required
    label.col-lg-3.control-label(for='lastName') Last Name
    .col-lg-9
      input.form-control(
      type='text', required=required, ng-model="user.lastName",
      name='lastName', id='lastName', placeholder='Last Name'
      )

  // Profile Picture
  .form-group
    label.col-lg-3.control-label(for='avatar') Profile Picture
    .col-lg-9
      input.form-control(
      type='url', ng-model="user.avatarUrl",
      name='avatar', id='avatar', placeholder='Profile Picture Url'
      )

  // Email
  .form-group
    label.col-lg-3.control-label(for='email') Email
    .col-lg-9
      input.form-control(
      type='email', name='email', ng-model="user.email",
      id='email', placeholder='Email'
      )

  // Password
  .form-group.required
    label.col-lg-3.control-label(for='password') Password
    .col-lg-9
      input.form-control(
      type='password', required=required,
      minlength='5', ng-model="user.password",
      name='password', id='password', placeholder='Password'
      )

  // Confirm Password
  .form-group.required
    label.col-lg-3.control-label(for='confirmPassword') Confirm Password
    .col-lg-9
      input.form-control(
      type='password', required=required,
      minlength='5', ng-model="user.confirmPassword",
      name='confirmPassword', id='confirmPassword', placeholder='Confirm password'
      )

  // Bottom Extensions
  block block-extension-bottom

    // Submit
  .form-group
    .col-lg-9.col-lg-offset-3.clearfix
      button.btn.btn-primary.pull-right(
      ng-click='ctrl.register(user, registerForm)'
      ng-disabled='registerForm.$invalid'
      ) Submit